.container1 {
  @include grid;
}

.eyebrow {
  text-transform: uppercase;
  @include eyebrow-typography;
  @include col(6, 3);
}

.title3 {
  @include heading-3;

  text-align: center;
  @include col(4, 6);

  margin-bottom: 30px;
}

.description {
  @include body-l-reg;

  text-align: center;
  @include col(4, 8);

  position: relative;
  width: 744px;
  height: 84px;
}

.container2 {
  @include grid;

  &::after {
    content: '';
    display: block;
    position: relative;
    height: 256px;
    width: 100%;
    background-color: transparent;
  }
}

.cards-grid__container {
  @include col(2, 10);

  justify-content: space-between;
  position: relative;
  display: flex;
  margin-top: 110px;
}

.card__container {
  display: flex;
}

.imagecard {
  width: 346px;
  height: 470px;
  border-radius: 24px;
  overflow: hidden;
}

.titleimage {
  @include heading-4;

  position: absolute;
  width: 346px;
  height: 40px;
  top: 385px;
  text-align: center;
  color: #fff;
}

.subtimage {
  @include body-m-reg;

  position: absolute;
  width: 346px;
  height: 24px;
  bottom: 24px;
  text-align: center;
  color: #fff;
}

.quoteimage {
  @include heading-3;

  width: 654px;
  height: 96px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: calc(100% + 60px);
  left: 50%;
  transform: translateX(-50%);
}
