.container1 {
  @include grid;
}

.eyebrow {
  text-transform: uppercase;
  @include eyebrow-typography;
  @include col(6, 3);

  margin: 0;
}

.title3 {
  @include heading-3;

  text-align: center;
  @include col(4, 6);

  margin-bottom: 3rem;
  margin-top: 0;
}

.description {
  @include body-l-reg;

  text-align: center;
  @include col(3, 8);

  position: relative;
  margin-bottom: 0;
  margin-top: 0;
}

.container2 {
  @include grid;

  &::after {
    content: '';
    display: block;
    position: relative;
    height: 25.6rem;
    width: 100%;
    background-color: transparent;
  }
}

.cards-grid__container {
  @include col(2, 10);

  justify-content: space-between;
  position: relative;
  display: flex;
  margin-top: 11rem;
}

.card__container {
  display: flex;
}

.imagecard {
  width: 34.6rem;
  height: 47rem;
  border-radius: 2.4rem;
  overflow: hidden;
}

.titleimage {
  @include heading-4;

  position: absolute;
  width: 34.6rem;
  height: 4rem;
  top: 38.5rem;
  text-align: center;
  color: #fff;
}

.subtimage {
  @include body-m-reg;

  position: absolute;
  width: 34.6rem;
  height: 2.4rem;
  bottom: 2.4rem;
  text-align: center;
  color: #fff;
}

.quoteimage {
  @include heading-3;

  width: 65.4rem;
  height: 9.6rem;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: calc(100% + 6rem);
  left: 50%;
  transform: translateX(-50%);
  color: #576684;
}

.quotation-marks__container {
  @include grid;
}

.quotation-marks1 {
  @include col(3, 1);

  &::before {
    content: '';
    display: block;
    position: relative;
    height: 7rem;
    width: 100%;
    background-color: transparent;
  }
}

.quotation-marks2 {
  @include col(10, 1);

  &::before {
    content: '';
    display: block;
    position: relative;
    height: 10.5rem;
    width: 100%;
    background-color: transparent;
  }
}
