:root {
  --time-transitions: 0.3s;
}

.carousel-general {
  @include grid;

  position: relative;
}

.carousel {
  @include col(1, 8);

  @include breakpoint(md) {
    @include col(4, 6);
  }

  display: flex;
  align-items: flex-end;

  &-overlap {
    z-index: var(--z-index-mid);
    position: relative;
    margin-top: -24.3rem;

    @include breakpoint(md) {
      margin-top: -28.8rem;
    }
  }

  &-container {
    margin-bottom: 1.8rem;
  }
}

.card-wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.card {
  background-color: var(--white);
  border-radius: 2.4rem;
  box-shadow: 0 0.2rem 2rem 0 rgb(0 0 0 / 5%);
  margin-top: 5rem;
  opacity: 0;
  padding: 7.2rem 2rem 4.8rem;
  position: absolute;
  transition: opacity var(--time-transitions) ease;

  @include breakpoint(md) {
    padding: 7.2rem 4.8rem 4.8rem;
  }
}

.card.active {
  position: relative;
  opacity: 1;
}

.card-thumb {
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: -4.8rem;
  width: 100%;
}

.client-img {
  border: 0.4rem solid var(--brand-green);
  border-radius: 50%;
  height: 104px;
  position: relative;
  width: 104px;
}

.review {
  @include body-m-reg;

  color: var(--grey-2);
  text-align: center;
  margin: 0;
  @include breakpoint(md) {
    @include body-xl-med;
  }
}

.card-info {
  margin-top: 4rem;

  &__name-title {
    @include heading-5;

    color: var(--brand-navy);
    text-align: center;
  }

  &__name-subtitle {
    @include body-s-reg;

    color: var(--grey-2);
    font-style: italic;
    text-align: center;
  }
}

.card-control {
  position: relative;
  width: 100%;
}

.control-container {
  display: flex;
  bottom: -6.5rem;
  justify-content: space-between;
  left: 0;
  padding: 0 4.8rem;
  position: absolute;
  width: 100%;

  @include breakpoint(md) {
    bottom: 4.8rem;
  }
}

.arrow {
  cursor: pointer;
  width: 20px;
  padding: 0;
  border: none;
  background-color: rgb(255 255 255/ 0%);
}

.control {
  &__arrow-back img {
    transform: rotate(180deg);
  }
}

.card-indicators {
  display: flex;
  bottom: 0.8rem;
  justify-content: center;
  left: 50%;
  margin-top: 4rem;

  &__button {
    background: var(--grey-5);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 8px;
    margin-left: 0.8rem;
    padding: 0;
    transition: width var(--time-transitions) ease;
    width: 8px;
  }

  &__button.active {
    background: var(--brand-green);
    border-radius: 5rem;
    width: 24px;
  }
}
