.donors {
  position: relative;
  overflow: hidden;
}

.donors_info {
  @include grid;

  display: block;
}

.donors_image {
  width: 100%;
}

.donors_description {
  @include heading-4;

  font-size: 3rem;
  font-weight: var(--font-med);

  @include breakpoint(md) {
    @include col(2, 7);
  }
}

.donors_link_container {
  @include link-typography;

  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0 19.5rem;

  @include breakpoint(md) {
    @include col(2, 4);

    justify-content: flex-start;
  }
}

.donors_ctaPrimary_link a {
  color: var(--white);
  border-radius: 6.25rem;
  width: 13.75rem;
  padding: 1.25rem 5.4rem;
  background-color: var(--brand-navy);
  margin-right: 3rem;
}

.donors_ctaSecondary_link a {
  position: relative;
  color: var(--brand-navy);
  padding: 0.75rem 0;
}

.donors_ctaSecondary_link a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: solid 2px var(--brand-navy);
}

.donors_figure {
  display: none;

  @include breakpoint(md) {
    position: absolute;
    z-index: 1;
    bottom: 7rem;
    right: -30rem;
    font-size: 50%;
    height: 50rem;
    width: 50rem;
    transform: rotate(-60.52deg);
  }
}
