.donors {
  position: relative;
  overflow: hidden;
}

.donors_info {
  display: block;
  padding-bottom: 10rem;
  @include breakpoint(md) {
    padding-bottom: 20rem;
    @include grid;
  }
  @include breakpoint(lg) {
    padding-bottom: 20rem;
  }
}

.donors_image {
  line-height: 0;
  width: 100%;
}

.donors_description {
  @include heading-4;

  font-size: 3rem;
  font-weight: var(--font-med);
  padding: 2rem 1.5rem;
  @include breakpoint(md) {
    padding: 0;
    @include col(2, 7);
  }
}

.donors_link_container {
  @include link-typography;

  display: flex;
  justify-content: flex-start;
  padding-inline: 1.5rem;

  @include breakpoint(md) {
    @include col(2, 5);

    padding-inline: 0;
  }
  @include breakpoint(lg) {
    @include col(2, 4);

    padding-inline: 0;
  }
}

.donors_ctaPrimary_link a {
  color: var(--white);
  border-radius: 6.25rem;
  width: 13.75rem;
  padding: 1.25rem 5.4rem;
  background-color: var(--brand-navy);
  margin-right: 3rem;
}

.donors_figure {
  display: none;

  @include breakpoint(md) {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 7rem;
    right: -30rem;
    font-size: 50%;
    height: 50rem;
    width: 50rem;
    transform: rotate(-60.52deg);
  }
}
