@keyframes button-bg-colors {
  0% {
    background-color: var(--brand-blue);
  }

  10% {
    background-color: var(--brand-blue);
  }

  20% {
    background-color: var(--brand-green);
  }

  30% {
    background-color: var(--brand-green);
  }

  40% {
    background-color: var(--brand-orange);
  }

  50% {
    background-color: var(--brand-orange);
  }

  60% {
    background-color: var(--brand-magenta);
  }

  70% {
    background-color: var(--brand-magenta);
  }

  80% {
    background-color: var(--brand-purple);
  }

  90% {
    background-color: var(--brand-purple);
  }

  100% {
    background-color: var(--brand-blue);
  }
}

// remove scroll when open hamburger mobile
body.lock-scroll {
  touch-action: none;
  overflow: hidden;

  @include breakpoint(md) {
    overflow: auto;
  }
}

.header {
  border-bottom: 0.1rem solid var(--grey-6);
  background: var(--white);
  position: sticky;
  top: 0;
  z-index: var(--z-index-top);

  .hamburger {
    background-color: var(--white);
    border: none;
    display: block;
    cursor: pointer;

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(1) {
      transform: translateY(0.7rem) rotate(45deg);
    }

    &.active .bar:nth-child(3) {
      transform: translateY(-0.7rem) rotate(-45deg);
    }
    .bar {
      background-color: var(--black);
      display: block;
      height: 0.3rem;
      margin: 0.4rem auto;
      transition: all 0.3s ease-in-out;
      width: 2.8rem;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 144rem;
    padding: 2rem 2.4rem;
    width: 100%;
  }

  &__logo {
    width: 11.2rem;

    &__image {
      width: 100%;
    }
  }

  &__menu {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    left: -100%;
    padding: 4.8rem 2.4rem 8rem;
    position: fixed;
    top: 8rem;
    transition: 0.3s;
    width: 100%;
    height: 100vh;
    overflow: auto;
    &.active {
      left: 0;
    }

    &__item {
      list-style: none;
      margin: 1.6rem 0;
      .link {
        @include body-m-bold;

        color: var(--brand-navy);
        font-size: 2.4rem;
        text-decoration: none;
      }
    }

    &__item:nth-last-child(3) {
      border-bottom: 0.1rem solid var(--grey-6);
      margin: 3.2rem 0 4.8rem 0;

      .link {
        display: none;
      }
    }

    &__donation-info {
      // donation info
      .modal {
        display: block;
        &__image,
        &__close {
          display: none;
        }
        &__paragraph {
          @include body-m-reg;
          margin: 0;
          color: var(--grey-2);
        }
        &__title {
          @include heading-5;
          margin: 0 0 0.8rem 0;
        }
        &__subtitle {
          @include heading-6;
          color: var(--white);
          margin: 0;
        }
        &__info {
          padding-bottom: 2.4rem;
        }
        &__data {
          color: var(--white);
          background-color: var(--brand-navy);
          border-radius: 2.4rem;
          padding: 2.4rem;
          margin-bottom: 2.4rem;
          .modal__paragraph {
            color: var(--grey-6);
          }

          .modal__account {
            border-bottom: 0.1rem solid var(--grey-1);
            margin-bottom: 2.4rem;
            padding-bottom: 2.4rem;
          }

          .modal__link {
            .modal__paragraph {
              color: var(--grey-6);
              .link {
                color: var(--grey-6);
                text-decoration: none;
                border-bottom: 0.1rem solid var(--grey-6);
              }
            }
          }
        }

        @include breakpoint(md) {
          display: none;
        }
      }
    }

    &__socials {
      align-items: center;
      border-top: 0.1rem solid var(--grey-6);
      display: flex;
      gap: 3.3rem;
      justify-content: center;
      padding: 2.4rem 4.8rem 2.4rem;

      .link {
        align-items: center;
        display: flex;
        height: 3.2rem;
        justify-content: center;
        width: 3.2rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
          transition: all 0.3s ease-in-out;
        }
      }

      .icons {
        color: var(--brand-navy);
        font-size: 2.6rem;
      }
    }
  }
}

// menu on desktop view
@include breakpoint(md) {
  .header {
    .hamburger {
      display: none;
    }
    &__container {
      padding: 2.4rem 4.8rem;
    }

    &__logo {
      width: 13.5rem;
    }

    &__menu {
      flex-direction: row;
      gap: 6rem;
      justify-content: end;
      left: initial;
      padding: 0;
      position: relative;
      transition: none;
      top: initial;
      height: unset;
      overflow: unset;

      &__item {
        margin: 1.6rem 0;
      }

      &__item .link {
        @include link-typography;
      }

      &__item:nth-last-child(3) {
        display: contents;

        .link {
          @include button-typography;

          align-items: center;
          animation: 10s ease infinite button-bg-colors;
          border-radius: 2.4rem;
          color: var(--white);
          display: flex;
          justify-content: center;
          padding: 1.6rem 3.2rem;
        }
      }

      &__donation-info,
      &__socials {
        display: none;
      }
    }
  }
}
