.hero {
  min-width: 375px;
  position: relative;

  &__shapes {
    display: none;
    z-index: -1;
    @include breakpoint(md) {
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &__shape {
      opacity: 0;
      transition: 1s;
      display: none;

      &.shape-active {
        @include breakpoint(md) {
          opacity: 1;
          display: block;
        }
      }
    }
  }

  &__wrapper {
    padding-top: 48px;
    margin-left: 24px;

    @include breakpoint(md) {
      @include grid;
    }
  }

  &__container {
    @include col(1, 8);

    margin-right: 0;

    @include breakpoint(md) {
      @include col(2, 10);

      flex: 1;
    }
  }

  &__cards {
    display: flex;
    gap: 24px;
    scroll-behavior: smooth;

    // config scroll
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;

    // hide scroll bar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      background: rgb(255 255 255);
      background: linear-gradient(
        90deg,
        rgb(255 255 255 / 0%) 0%,
        rgb(255 255 255 / 100%) 100%
      );
      bottom: 127px;
      content: ' ';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 20%;
    }

    @include breakpoint(md) {
      display: block;
      padding: 72px 0 40px;
      position: relative;

      &::after {
        display: none;
      }
    }

    &__card {
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;
      max-width: 80%;
      min-width: 80%;
      scroll-snap-align: start;
      width: 80%;

      &:last-child {
        margin-right: 20%;
      }
      @include breakpoint(md) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 48px;
        max-width: none;
        min-width: none;
        opacity: 0;
        position: absolute;
        scroll-snap-align: unset;
        top: 0;
        width: unset;

        &:last-child {
          margin-right: unset;
        }
      }
    }

    & .card-active {
      @include breakpoint(md) {
        opacity: 1;
        position: relative;
        transition: 0.5s;
      }
    }
  }
}

.hero__card-content {
  height: auto;

  @include breakpoint(md) {
    flex: 1;
  }

  &__text {
    @include body-xl-bold;

    font-size: 2.8rem;
    margin-bottom: 24px;

    @include breakpoint(md) {
      @include heading-2;

      margin-bottom: 32px;
    }
  }

  &__cta {
    border: 0;
    border-radius: 50px;
    padding: 20px 32px;
    text-align: center;
  }

  &__cta .link {
    @include button-typography;

    color: var(--white);
  }

  &__image {
    aspect-ratio: 1 / 1;
    border-radius: 24px;
    flex: 1;
    object-fit: cover;

    @include breakpoint(md) {
      min-width: 450px;
    }
  }
}

.link--blue {
  background: var(--brand-blue);
}

.link--green {
  background: var(--brand-green);
}

.link--magenta {
  background: var(--brand-magenta);
}

.hero__tabs {
  display: flex;
  gap: 8px;
  margin: 127px 24px 40px 0;

  @include breakpoint(md) {
    @include col(2, 9);

    display: flex;
    gap: 48px;
    justify-content: space-between;
    margin-top: 83px;
  }

  &__tab {
    font-size: 0;
    cursor: pointer;
    flex: 1;
    position: relative;
    padding-bottom: 16px;

    &::after {
      border-radius: 2px;
      bottom: 0;
      content: ' ';
      display: block;
      height: 4px;
      left: 0;
      position: absolute;
      right: 0;
      background: var(--grey-6);
    }

    @include breakpoint(md) {
      @include heading-6;

      color: var(--grey-2);
    }
  }
}

.tab-active {
  @include breakpoint(md) {
    color: var(--brand-navy);
    font-weight: bold;
  }
}

.tab-active::after {
  border-radius: 2px;
  bottom: 0;
  content: ' ';
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  transition: 1s;
}

.cta--blue.tab-active::after {
  background: var(--brand-blue);
}

.cta--green.tab-active::after {
  background: var(--brand-green);
}

.cta--magenta.tab-active::after {
  background: var(--brand-magenta);
}
