.sponsors-wrapper {
  overflow: hidden;
  position: relative;

  &__shape-a {
    transform: matrix(-0.06, 1, 1, 0.06, 0, 0);
    width: 148.37px;
    height: 158.04px;
    position: absolute;
    top: 0;
    left: -107.73px;
  }

  &__shape-o {
    transform: matrix(0.7, 0.72, 0.72, -0.7, 0, 0);
    width: 110.78px;
    height: 148.31px;
    position: absolute;
    top: 468.64px;
    right: -85px;
  }

  @include breakpoint(lg) {
    &__shape-a {
      transform: matrix(0.34, 0.94, 0.94, -0.34, 0, 0);
      width: 49.16rem;
      height: 52.362rem;
      position: absolute;
      top: 0;
      left: -40rem;
    }

    &__shape-o {
      transform: matrix(0.34, 0.94, 0.94, -0.34, 0, 0);
      width: 49.16rem;
      height: 523.62px;
      position: absolute;
      top: 35rem;
      right: -351px;
    }
  }
}

.sponsors-section {
  @include grid;

  padding-top: 16rem;
  padding-bottom: 45.8rem;

  @include breakpoint(lg) {
    padding-top: 25.6rem;
    padding-bottom: 33.6rem;
  }

  &__eyebrow {
    // Mobile
    @include col(auto, 8);

    margin-bottom: 3.2rem;
    text-align: center;
    color: var(--brand-navy);
    align-self: stretch;

    &--title {
      margin-top: 0;
      margin-bottom: 1.2rem;
      text-transform: uppercase;
    }

    &--description {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.8rem;
      line-height: 3.2rem;
    }

    @include breakpoint(lg) {
      // Desktop
      @include col(4, 6);

      margin-bottom: 5.6rem;
      text-align: center;
      color: var(--brand-navy);
      align-self: stretch;

      &--title {
        margin-top: 0;
        margin-bottom: 0.8rem;
        text-transform: uppercase;
      }

      &--description {
        @include heading-3;

        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &__logos {
    // Moblie
    @include col(auto, 8);

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2.4rem;

    &--img {
      max-width: 13.548rem;
      max-height: 4.857rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      border: var(--grey-5) solid 0.1rem;
    }

    @include breakpoint(lg) {
      // Desktop
      @include col(3, 8);

      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 4.8rem;
      row-gap: 1.6rem;

      &--img {
        @include col(auto, 2);

        max-width: 16.4rem;
        max-height: 5.8rem;
        border: 0;
      }
    }
  }
}
