.attributes-wrapper {
  // Mobile
  @include grid;

  .container {
    @include col(auto, 8);

    background-color: var(--brand-navy);
    width: 32.7rem;
    height: 45.6rem;
    margin-top: 65rem;
    border-radius: 2.4rem;

    &__attribute-section {
      display: flex;
      flex-direction: column;
      max-width: 27.9rem;
      margin-left: 2.4rem;
      margin-right: 2.4rem;

      &--box {
        width: 27.9rem;
        height: 2.4rem;
      }

      &--title {
        @include body-m-reg;

        color: var(--grey-5);
        text-align: center;
        margin-bottom: 0.4rem;
        margin-top: 2.4rem;
      }

      &--value {
        @include body-m-bold;

        color: var(--white);
        text-align: center;
        letter-spacing: -0.03em;
        margin: 0;
      }

      &--value:nth-child(4) {
        height: 4.2rem;
      }
    }

    &__line-divider {
      display: flex;
      align-items: center;
      background-color: var(--grey-1);
      border: var(--grey-1) solid 0.1rem;
      width: 27.9rem;
      height: 0;
      margin-top: 4.4rem;
      margin-left: 2.4rem;
    }
  }

  .link-date {
    display: flex;
    align-items: center;
    width: 27.9rem;
    height: 4.8rem;
    background-color: var(--white);
    border-radius: 10rem;
    margin-left: 2.4rem;
    margin-top: -7.2rem;
    @include col(1, 7);
  }

  .link {
    @include body-m-bold;

    margin-left: -21rem;
    margin-top: -6.2rem;
  }

  // Desktop
  @include breakpoint(md) {
    .container {
      @include col(2, 3);

      background-color: var(--brand-navy);
      width: 30rem;
      height: 44.6rem;
      margin-top: 6.4rem;
      border-radius: 2.4rem;
      margin-left: 0.1rem;

      &__attribute-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2.4rem;
        margin-bottom: 12rem;
        margin-left: 2.4rem;

        &--box {
          width: 23.6rem;
          height: 1.9rem;
        }

        &--title {
          @include body-m-reg;

          color: var(--grey-5);
          margin-bottom: 0.4rem;
          margin-top: 2.4rem;
          text-align: left;
        }

        &--value {
          @include body-m-bold;

          color: var(--white);
          text-align: left;
          margin: 0;
        }

        &--value:nth-child(4) {
          height: 4.2rem;
        }
      }

      &__line-divider {
        display: flex;
        align-items: center;
        background-color: var(--grey-1);
        border: var(--grey-1) solid 0.1rem;
        width: 25.2rem;
        height: 0;
        margin-top: -7.4rem;
        margin-left: 2.4rem;
      }
    }

    .link-date {
      display: flex;
      align-items: center;
      width: 25.2rem;
      height: 4.8rem;
      background-color: var(--white);
      border-radius: 10rem;
      margin-left: 2.4rem;
      margin-top: -6.6rem;
      @include col(2, 3);
    }

    .link {
      @include body-m-bold;

      margin-left: -24.6rem;
      margin-top: -5.5rem;
    }
  }
}
