:root {
  --transition: all 200ms linear;
}

.services {
  position: relative;
  padding: 16rem 0;
  overflow: hidden;
  @include breakpoint(md) {
    padding: 25.6rem 0 35.6rem;
  }

  &-container {
    @include grid;
    @include col(4, 6);
    @include breakpoint(md) {
      @include col(4, 6);
    }
  }

  &-info {
    @include col(1, 12);

    text-align: center;

    // Desktop
    @include breakpoint(md) {
      @include col(4, 6);
    }
  }

  &-eyebrow {
    @include eyebrow-typography;

    margin: 0 0 0.8rem;
    text-transform: uppercase;
  }

  &-title {
    @include heading-3;
    margin: 0 0 3.2rem;

    // Desktop
    @include breakpoint(md) {
      margin: 0 0 4.8rem;
    }
  }

  &-cards {
    @include col(1, 12);

    @include breakpoint(md) {
      @include col(2, 10);
    }

    display: flex;
    justify-content: center;
    flex-flow: column wrap;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(md) {
      flex-direction: row;
      gap: 2.4rem;
      text-align: center;
    }
  }

  &-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.4rem;
    padding: 1.6rem;
    margin-bottom: 1.2rem;
    box-sizing: content-box;

    @include breakpoint(md) {
      flex-direction: column;
      width: calc(25% - 6.6rem);
      padding: 3.2rem 2.4rem;
      transition: var(--transition);

      img {
        transform: scale(1);
        transition: var(--transition);
      }

      &:hover {
        transform: translateY(-1.2rem);
        transition: var(--transition);

        img {
          transform: scale(1.03);
          transition: var(--transition);
        }

        .services-card__arrow {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &.bg {
      &-blue {
        background: var(--brand-blue);
      }

      &-green {
        background: var(--brand-green);
      }

      &-orange {
        background: var(--brand-orange);
      }

      &-magenta {
        background: var(--brand-magenta);
      }

      &-purple {
        background: var(--brand-purple);
      }
    }

    &__image {
      // mobile
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.2rem;
      height: 3.6rem;
      width: 3.6rem;

      // Desktop
      @include breakpoint(md) {
        margin: 0 0 2rem;
        height: 9.6rem;
        width: 9.6rem;
      }

      img {
        width: auto;
        height: auto;
      }
    }

    &__title {
      @include heading-5;

      color: var(--white);
      margin: 0;

      // Desktop
      @include breakpoint(md) {
        margin: 0 0 4.7rem;
      }
    }

    &__arrow {
      margin-left: auto;

      // Desktop
      @include breakpoint(md) {
        margin-top: auto;
        margin-left: inherit;
      }

      img {
        width: 3.8rem;

        // Desktop
        @include breakpoint(md) {
          width: 4.8rem;
        }
      }
    }
  }

  // background shapes

  &::before,
  &::after {
    display: block;
    position: absolute;
  }

  &::before {
    content: url('/static/images/bg-a.svg');
    top: 0;
    top: -1rem;
    left: -11rem;
    width: 16.5rem;
    transform: rotate(-16deg);
    @include breakpoint(md) {
      width: 53rem;
      left: -30rem;
      transform: none;
    }
  }

  &::after {
    content: url('/static/images/bg-n.svg');
    width: 20rem;
    bottom: -1rem;
    right: 0;
    @include breakpoint(md) {
      width: 40rem;
    }
  }
}
