.statistics {
  background-color: var(--brand-navy);
  margin: 0;

  @include breakpoint(md) {
    margin: 0;
  }

  &__headlines {
    @include grid;
  }

  &__eyebrow {
    grid-column: 1/9;
    justify-content: center;
    display: flex;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: var(--font-bold);
    letter-spacing: 0.2em;
    line-height: 1.6rem;

    @include breakpoint(md) {
      grid-column: 4/9;
    }
  }

  &__title {
    grid-column: 1/9;
    justify-content: center;
    display: flex;
    text-align: center;
    color: var(--white);

    @include heading-3;

    @include breakpoint(md) {
      grid-column: 4/9;
    }
  }

  &__items {
    @include grid;

    grid-template-columns: 1fr;

    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    font-size: 80px;
    color: var(--brand-magenta);
    font-size: 12rem;
    font-weight: var(--font-bold);
    line-height: 10rem;
    text-align: center;
    letter-spacing: -0.03em;
  }

  &__text {
    @include body-m-reg;

    color: var(--white);
  }
}
