<div class="container1">
  <div class="eyebrow">
    {{eyebrow}}
  </div>
    <div class="title3">
      {{title}}
    </div>
      <div class="description">
        {{description}}
      </div>
</div>

<div class="container2">
  <div class="cards-grid__container">
  {{#each personCard}}
    {{{module this}}}
  {{/each}}
  </div>
</div>
