<div class="container1">
  <h2 class="eyebrow">
    {{eyebrow}}
  </h2>
    <h3 class="title3">
      {{title}}
    </h3>
      <p class="description">
        {{description}}
      </p>
</div>

<div class="container2">
  <div class="cards-grid__container">
  {{#each personCard}}
    {{{module this}}}
  {{/each}}
  </div>
</div>

<div class="quotation-marks__container">
  <div class="quotation-marks1">
    <svg width="60" height="47" viewBox="0 0 60 47" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M41.3568 47C36.9386 47 33.3568 43.4183 33.3568 39L33.3568 32.7386C33.3568 28.6891 34.1526 24.5516 35.7442 20.326C37.2916 16.1444 39.3695 12.1829 41.9779 8.44153C43.3964 6.43078 44.8869 4.58275 46.4493 2.89745C48.7514 0.414149 52.483 0.146503 55.4023 1.86253L55.8588 2.13092C59.7619 4.42528 60.951 9.49242 59.0232 13.589C58.3711 14.9746 57.7515 16.406 57.1642 17.8831C55.44 22.1087 54.5779 27.0165 54.5779 32.6066L54.5779 39C54.5779 43.4183 50.9962 47 46.5779 47L41.3568 47ZM8 47C3.58172 47 3.13124e-07 43.4183 6.99382e-07 39L1.24677e-06 32.7386C1.60079e-06 28.6891 0.79579 24.5516 2.38737 20.326C3.93474 16.1444 6.01264 12.1829 8.62106 8.44153C10.0551 6.40876 11.5694 4.5423 13.1638 2.84214C15.4662 0.387062 19.1742 0.135735 22.0758 1.84139L22.5037 2.09292C26.4312 4.40166 27.6049 9.51354 25.6546 13.6309C25.0045 15.0035 24.3887 16.4209 23.8074 17.8831C22.0832 22.1087 21.2211 27.0165 21.2211 32.6066L21.2211 39C21.2211 43.4183 17.6393 47 13.2211 47L8 47Z" fill="#3777BC"/>
    </svg>
  </div>
  <div class="quotation-marks2">
    <svg width="60" height="47" viewBox="0 0 60 47" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.6432 0C23.0614 0 26.6432 3.58172 26.6432 8V14.2613C26.6432 18.3109 25.8474 22.4484 24.2558 26.674C22.7084 30.8556 20.6305 34.8171 18.0221 38.5585C16.6036 40.5692 15.1131 42.4172 13.5507 44.1026C11.2486 46.5858 7.51698 46.8535 4.59775 45.1375L4.14118 44.8691C0.238096 42.5747 -0.951043 37.5076 0.976777 33.411C1.62886 32.0254 2.24853 30.594 2.83579 29.1169C4.56 24.8913 5.42211 19.9835 5.42211 14.3934V8C5.42211 3.58172 9.00383 0 13.4221 0H18.6432ZM52 0C56.4183 0 60 3.58172 60 8V14.2613C60 18.3109 59.2042 22.4484 57.6126 26.674C56.0653 30.8556 53.9874 34.8171 51.3789 38.5585C49.9449 40.5912 48.4306 42.4577 46.8362 44.1579C44.5338 46.6129 40.8258 46.8643 37.9242 45.1586L37.4963 44.9071C33.5688 42.5983 32.3951 37.4865 34.3454 33.3691C34.9955 31.9965 35.6113 30.5791 36.1926 29.1169C37.9168 24.8913 38.7789 19.9835 38.7789 14.3934V8C38.7789 3.58172 42.3607 0 46.7789 0H52Z" fill="#3777BC"/>
    </svg>
  </div>
</div>
