<div class="card">

    <div class="card-thumb">
        <img src="{{assetSrc image}}" class="client-img" alt="">
    </div>

    <div class="card-story">
        <p class="review">{{text}}</p>
    </div>

    <div class="card-info">
        <div class="card-info__name-title">
          <span>
            {{title}}
          </span>
        </div>
        <div class="card-info__name-subtitle">
          <span>
            {{subtitle}}
          </span>
        </div>
    </div>

</div>

