<section class="general-container">
  <div class="carousel">
      <div class="carousel-container">
          <ul class="card-wrapper">
            {{#each carouselSlides}}
              {{{module this}}}
            {{/each}}
          </ul>

          <div class="card-control">
            <div class="control-container">
              <button class="control__arrow-back arrow" aria-label="Anterior elemento" title="Anterior elemento">
                <img src="/images/carousel_arrow.svg" alt="" role="presentation">
              </button>
              <button class="control__arrow-for arrow" aria-label="Siguiente elemento" title="Siguiente elemento">
                <img src="/images/carousel_arrow.svg" alt="" role="presentation">
              </button>
            </div>

          </div>
          <div class="card-indicators">

            {{#each carouselSlides}}
              <button class="card-indicators__button" aria-label="Elemento {{{@index}}} de {{{../carouselSlides.length}}}"></button>
            {{/each}}
          </div>

      </div>
  </div>
</section>


