<div class="general-container">
  <div class="carousel">
      <div class="carousel-container">
          <div class="card-wrapper">
            {{#each carouselSlides}}
              {{{module this}}}
            {{/each}}
          </div>
          <div class="card-control">
            <div class="control-container">
              <div class="control__arrow-back arrow">
                <img src="/images/carousel_arrow.svg" alt="">
              </div>
              <div class="control__arrow-for arrow">
                <img src="/images/carousel_arrow.svg" alt="">
              </div>
            </div>
          </div>
          <div class="card-indicators">
            {{#each carouselSlides}}
              <button class=""></button>
            {{/each}}
          </div>
      </div>
  </div>
</div>


