<div class="donors">
  <div class="donors_image">
    {{{asset image}}}
  </div>
  <div class="donors_info">
    <p class="donors_description">{{description}}</p>
    <div class="donors_link_container">
      <div class="donors_ctaPrimary_link">
        {{{module ctaPrimary}}}
      </div>
      <div class="donors_ctaSecondary_link">
        {{{module ctaSecondary}}}
      </div>
    </div>
  </div>
  <img class="donors_figure" src="/image/shape-m.svg" alt="shape of m"/>
</div>

