<p class="footer__item">
  <span class="footer__icon">{{value}}</span>
  <span class="footer__title">{{title}} </span>
  <span class="footer__text">{{text}}</span>
  <span class="footer__link">{{link}}</span>
</p>
