<section class="footer">
	<div class="footer__logo">
    <div class="footer__logo-img"></div>
  </div>
  <div class="footer__items-container">
    {{#each sections}}
      {{{module this}}}
    {{/each}}
	</div>
  <div class="footer__disclaimer">
    <span>
      {{disclaimer}}
    </span>
	</div>
</section>

