<div class="footer__item">
   <div class="__iconContainer">
    <span class="footer__icon">{{{icon}}}</span>
  </div>
   <span class="footer__title">{{title}} </span>
   <span class="footer__link">{{#each linkInformation}}{{{module this}}}{{/each}}</span>
</div>
