<section class="footer_container">
	<div class="footer__title">
    <img src="" class="logo" </img>
    <h2 class="footer__title">{{title}}</h2>
  </div>
  <div class="footer__items">
			{{#each statisticsList}}
				{{{module this}}}
			{{/each}}
	</div>
  <div class="footer__disclaimer">
    <p class=" "></p>
	</div>
</section>

