<div class="footer__item">
   <img class="footer__icon" src="{{assetSrc icon}}">
   <span class="footer__title">{{title}} </span>
   <span class="footer__link footer__link--{{title}}">{{#each linkInformation}}{{{module this}}}{{/each}}</span>
</div>
