<header class="header">
  <nav class="header__container">

    <a
      class="header__logo"
      href="/index.html"
      aria-label="Logo Fundación Manao"
    >
      <img
        src="/images/LogoManao.svg"
        alt=""
        role="presentation"
        class="logo__image"
      />
    </a>

      <button class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

    <ul class="header__menu">
      {{#each mainLinks}}
        <li class="header__menu__item">
          {{{module this}}}
        </li>
      {{/each}}

      <div class="header__menu__donor-info">
        <h5 class="header__menu__donor-info--title">Donar para mas inclusión</h5>
        <p class="header__menu__donor-info--text">Con tu donación transformamos vidas. Ayúdanos a crear una sociedad más inclusiva y con más oportunidades para todos. Si quieres ayudarnos a crear una sociedad con inclusión, puedes hacer tus donaciones a través de los siguientes medios:</p>
        <div class="donor__accounts">
          <div class="donor__accounts__bancolombia">
            <h6 class="donor__accounts__bancolombia--name">Bancolombia</h6>
            <p class="donor__accounts__bancolombia--info">Cuenta de ahorros 0000000000</p>
            <img src="/images/QR.png" alt="">
          </div>
          <div class="donor__accounts__vaki">
            <h5 class="donor__accounts__vaki--name">Vaki</h5>
            <p class="donor__accounts__vaki--info">A través de nuestra cuenta en Vaki</p>
          </div>
        </div>
        <div class="donor__socials">
          <a class="donor__socials__link" href="http://www.facebook.com">
            <i class="donor__socials__icons fa fa-facebook-f"></i>
          </a>
          <a class="donor__socials__link" href="http://www.instagram.com">
            <i class="donor__socials__icons fa fa-instagram"></i>
          </a>
          <a class="donor__socials__link" href="http://www.youtube.com">
            <i class="donor__socials__icons fa fa fa-youtube-play"></i>
          </a>
        </div>
      </div>
    </ul>




  </nav>
</header>
