<header class="header">
  <nav class="header__container">

    <a
      class="header__logo"
      href="/index.html"
      aria-label="Logo Fundación Manao"
    >
      <img
        src="/images/LogoManao.svg"
        alt=""
        role="presentation"
        class="logo__image"
      />
    </a>

      <button class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

    <ul class="header__menu">
      {{#each mainLinks}}
        <li class="header__menu__item">
          {{{module this}}}
        </li>
      {{/each}}

      <div class="header__menu__donation-info">
        {{#if donationInfo}}
        {{{module donationInfo}}}
        {{/if}}
      </div>

      <div class="header__menu__socials">
          <a class="link" href="http://www.facebook.com">
            <i class="icons fa fa-facebook-f"></i>
          </a>
          <a class="link" href="http://www.instagram.com">
            <i class="icons fa fa-instagram"></i>
          </a>
          <a class="link" href="http://www.youtube.com">
            <i class="icons fa fa fa-youtube-play"></i>
          </a>
      </div>

    </ul>




  </nav>
</header>
