<section>
  <div class="hero_main_container">
    <div>
      {{#each tabs}}
        {{{module this}}}
      {{/each}}
    </div>
    <div>
      {{#each tabButtons}}
        {{{module this}}}
      {{/each}}
    </div>
</div>
</section>
