<section class="hero">
  <div class="hero__shapes">
      <img src="/images/shape01.svg" alt="" class="hero__shapes__shape">
      <img src="/images/shape02.svg" alt="" class="hero__shapes__shape">
      <img src="/images/shape03.svg" alt="" class="hero__shapes__shape">
  </div>
  <div class="hero__wrapper">
    <div class="hero__container">
      <ul class="hero__cards">
        {{#each tabs}}
          {{{module this}}}
        {{/each}}

      </ul>
    </div>
    <ul class="hero__tabs">
      {{#each tabButtons}}
        {{{module this}}}
      {{/each}}
    </ul>

  </div>
</section>
