<section>
  <div class="hero">
    <div class="hero__main-container">
      {{#each tabs}}
        {{{module this}}}
      {{/each}}
    </div>
    <div class="hero__cta-container">
      {{#each tabButtons}}
        {{{module this}}}
      {{/each}}
    </div>
</div>
</section>
