<section>
  <div class="hero">
    <div class="hero__main-container">
      {{#each tabs}}
        {{{module this}}}
      {{/each}}
    </div>
    <div class="hero__cta-container">
      {{#each tabButtons}}
        {{{module this}}}
      {{/each}}
    </div>
    <img class="hero__shape shape1" src="/images/Shape-M.svg" alt="" role="presentation">
    <img class="hero__shape shape2" src="/images/Shape-M.svg" alt="" role="presentation">
</div>
</section>
