<section>

  <div class='aliados'>

    <div class='eyebrow'>
      <p class='eyebrow-typography eyebrow-title'>{{eyebrow}}</p>
      <div class='heading-3 eyebrow-description'> {{title}}</div>
    </div>

    <div class='logos-container'>
        {{#each logos}}
          {{{asset this}}}
        {{/each}}
    </div>

    <img class='shape-a' src="/image/Shape-A.svg" alt='shape-A'>

    <img class='shape-o' src="/image/Shape-O.svg" alt='shape-O">

  </div>
</section>
