<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- Red Hat Display font --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    {{!-- Uncomment when header component is created in Contentful --}}
    {{#if header}}
      {{{module header}}}
    {{/if}}

    <main>
      {{#each components}}
        {{{module this}}}
      {{/each}}
    </main>

    {{#if whatsAppButton}}
    {{{module whatsAppButton}}}
    {{/if}}

  {{!-- Uncomment when modal component is created in Contentful --}}
    <section id="modal" class="modal">
        <div class="modal__background"></div>
        <div class="modal__content">
            <div class="modal__image">
              <img src="/images/img-modal.jpeg" alt="img-modal">
            </div>
            <div class="modal__description">
              <h5 class="modal__title">Donar para más inclusión</h5>
              <div class="modal__info">
                <p>Con tu donación transformamos vidas. Ayúdanos a crear una sociedad más inclusiva y con más oportunidades para todos, para ello puedes hacer tus donaciones a través de los siguientes medios:</p>
              </div>
              <div class="modal__account">
                <h6>Banco Caja Social</h6>
                <p>Cuenta corriente</br>#21004108213</p>
              </div>
              <div class="modal__link">
                <h6>Vaki</h6>
                <p>A través de nuestra <a target="_blank" href="#" title="cuenta en Vaki">cuenta en Vaki</a></p>
              </div>
            </div>
            <button class="modal__close"></button>
        </div>
    </section>


    <script src="main.bundle.js"></script>
  </body>
</html>
