<div class="person_card__container">
  <div class="person_card__image_card">
    {{{asset image}}}
  </div>
  <div class="person_card__overlay">  </div>
    <div class="person_card__title_image">
      {{title}}
    </div>
      <div class="person_card__subtitle_image">
        {{subtitle}}
      </div>
</div>
<blockquote class="person_card__quote_image">
  {{quote}}
</blockquote>
