<div class="person_card__container">
  <div class="person_card__image_card">{{{asset image}}}
    <div class="person_card__overlay">  </div>
    <div class="person_card__description">
      <div class="person_card__title_image">{{title}}</div>
      <div class="person_card__subtitle_image">{{subtitle}}</div>
    </div>
  </div>
  <div class="quote_container__person_card">
    <div class="quotation_marks__open"><img src="/images/quotation_open.svg" alt=""></div>
    <blockquote class="quote__person_card">{{quote}}</blockquote>
    <div class="quotation_marks__close"><img src="/images/quotation_close.svg" alt=""></div>
  </div>
</div>

