<div class="card__container">
  <div class="imagecard">
    {{{asset image}}}
  </div>
    <div class="titleimage">
      {{title}}
    </div>
      <div class="subtimage">
        {{subtitle}}
      </div>
</div>
<div class="quoteimage">
  {{quote}}
</div>





