<section class='attributes-wrapper'>
  <div class='container'>

    <div class='container__attribute-section'>
      {{#each attributes}}
        {{{module this}}}
      {{/each}}
    </div>

    <div class='container__line-divider'></div>

  </div>

  {{{module bookNowButton}}}

</section>
