<section class='attributes-wrapper'>
  <div class='container'>

    <div class='container__attribute-section'>
      {{#each attributes}}
        {{{module this}}}
      {{/each}}
    </div>

    <div class='container__line-divider'></div>

    <a class='container__link-date' href="{{url}}" target="{{#if isExternal}}_blank{{else}}_self{{/if}}" aria-label='{{label}}'></a>

  </div>
</section>
