<div class='container__attribute-section--title container__attribute-section--box'>{{title}}

</div>

<div class='container__attribute-section--value container__attribute-section--box'>{{values}}

</div>
