<div class="tab-content__image">
  <img src="{{assetSrc tabImage}}" class="tab-content__image--img" alt="" role="presentation">
</div>
<div class="tab-content__attributes">
  {{!-- area for attribute component --}}
</div>
<div class="tab-content__info">
  {{!-- area for information componet --}}
</div>
