<div class="service-tabs__wrapper">
  <div class="service-tabs">
    <div class="service-tabs__tab--n">
      {{#each serviceTabs}}
        {{{module this}}}
      {{/each}}
    </div>

    <div class="service-tabs__tab--i">
      {{#each serviceTabs}}
        {{{module this}}}
      {{/each}}
    </div>
  </div>
</div>


