<p class='container__attribute-section--title container__attribute-section--box'>{{title}}

</p>

<p class='container__attribute-section--value container__attribute-section--box'>{{values}}

</p>
