<div class="tab-content__image">
  <img src="{{assetSrc tabImage}}" class="tab-content__image--img" alt="" role="presentation">
</div>

<div class="tab-content__container">
{{#if tabAttributes}}
  <div class="tab-content__attributes">
    {{{module tabAttributes}}}
  </div>
{{/if}}

<div class="tab-content__info">
  {{#each content}}
    {{{module this}}}
  {{/each}}
</div>
</div>

