<section class="statistics">
  <div class="statistics__headlines">
    <span class="statistics__eyebrow eyebrow-typography">{{eyebrow}}</span>
    <h2 class="statistics__headline">{{title}}</h2>
  </div>
  <div class="statistics__items">
    {{#each statisticsList}}
      {{{module this}}}
    {{/each}}
  </div>
</section>
