<div class="whatsAppBtn">
  <a class="whatsAppBtn__GreenBackground" href="{{link}}" target="_blank" aria-label="{{ariaLabel}}" title="Manao Whatsapp">
   <i class="fa fa-whatsapp whatsAppBtn__Logo"></i>
  </a>
</div>
