<div class="whatsapp-btn">
  <a class="whatsapp-btn__green-background" href="{{link}}" target="_blank" aria-label="{{ariaLabel}}" title="Manao Whatsapp">
   <i class="fab fa-whatsapp whatsapp-btn__logo"></i>
  </a>
</div>
