main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 48px;
  max-width: 1440px;
  min-width: 1024px;
  margin: auto;
  background-color: var(--brand-navy);
  height: 100vh;
}

.carousel {
  grid-column: 4 / 10;
}

.container {
  height: fit-content;
}

.card-wrapper {
  position: relative;
}

.card {
  background-color: var(--white);
  border-radius: 24px;
  padding: 72px 48px 48px;
  margin-top: 50px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s;
  display: none;
}

.card.active {
  display: inherit;
  opacity: 1;
  transition: opacity 0.3s;
}

.card-thumb {
  position: absolute;
  top: -48px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.client-img {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 4px solid var(--brand-green);
}

.review {
  font-size: 2em;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.card-info {
  margin-top: 40px;

  &__name-title {
    font-size: 2em;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
  }

  &__name-subtitle {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }
}

.card-control {
  width: 100%;
  position: relative;
}

.control-container {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
  position: absolute;
  left: 0;
  bottom: 48px;
  width: 100%;
}

.arrow {
  width: 20px;
  cursor: pointer;
}

.control {
  &__arrow-back img {
    transform: rotate(180deg);
  }
}

.card-indicators {
  margin-top: 40px;
  bottom: 8px;
  left: 50%;
  justify-content: center;
  display: flex;
}

.card-indicators button {
  box-sizing: content-box;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 8px;
  transition: 0.3s;
  background: #d5d9e0;
}

button.active {
  width: 24px;
  border-radius: 50px;
  background: #50b848;
}

// main {
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
//   column-gap: 48px;
//   max-width: 1440px;
//   min-width: 1024px;
//   margin: auto;
//   background-color: var(--brand-navy);
//   height: 100vh;
// }

// .carousel {
//   grid-column: 4 / 10;
// }

// .container {
//   height: fit-content;
// }

// .card-wrapper {
//   position: relative;
// }

// .card {
//   background-color: var(--white);
//   border-radius: 24px;
//   padding: 72px 48px 48px;
//   margin-top: 50px;
//   position: relative;
//   opacity: 0;
//   transition: opacity 0.3s;
//   display: none;
// }

// .card.active {
//   display: inherit;
//   opacity: 1;
//   transition: opacity 0.3s;
// }

// .card-thumb {
//   position: absolute;
//   top: -48px;
//   left: 0;
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

// .client-img {
//   position: relative;
//   width: 96px;
//   height: 96px;
//   border-radius: 50%;
//   border: 4px solid var(--brand-green);
// }

// .review {
//   font-size: 2em;
//   font-weight: 500;
//   line-height: 32px;
//   letter-spacing: 0;
//   text-align: center;
//   margin: 0;
// }

// .card-info {
//   margin-top: 40px;

//   &-name-title {
//     font-size: 2em;
//     font-weight: 700;
//     line-height: 28px;
//     letter-spacing: 0;
//     text-align: center;
//   }

//   &-name-subtitle {
//     font-size: 1.4em;
//     font-style: italic;
//     font-weight: 400;
//     line-height: 20px;
//     letter-spacing: 0;
//     text-align: center;
//   }
// }

// .card-control {
//   width: 100%;
//   position: relative;
// }

// .control-container {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 48px;
//   position: absolute;
//   left: 0;
//   bottom: 48px;
//   width: 100%;
// }

// .arrow {
//   width: 20px;
//   cursor: pointer;
// }

// .control_arrow-back img {
//   transform: rotate(180deg);
// }

// .card-indicators {
//   margin-top: 40px;
//   bottom: 8px;
//   left: 50%;
//   justify-content: center;
//   display: flex;
// }

// .card-indicators button {
//   box-sizing: content-box;
//   padding: 0;
//   width: 8px;
//   height: 8px;
//   border-radius: 50%;
//   cursor: pointer;
//   margin-left: 8px;
//   transition: 0.3s;
//   background: #d5d9e0;
// }

// button.active {
//   width: 24px;
//   border-radius: 50px;
//   background: #50b848;
// }
